/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  background-color: #f1f1f1;
  font-weight: 700; 
  line-height: 1.5; 
  color: #1d1d1b; 
}

a {
  font-family: "ff-tisa-web-pro", "Assistant", sans-serif; 
  font-size: 22px;
}

p {
  font-family: "ff-tisa-web-pro", "Assistant", sans-serif; 
  font-size: 20px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "ratio", "Assistant", Helvetica, sans-serif; 
}

.fourofour{
  font-size: 60px;
}

.subscriber {
  background: #faec3a;
}

.subscriber p{
  color: #5c4cff;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

.navbar-default {
  background-color: #f9b219;
  border-color: #5c4cff;
  width: 100%;
  max-width: 100%;
  height: 100px;
}
.navbar-default .navbar-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #faec3a;
}
.navbar-default .navbar-text {
  color: #f1f1f1;
}
.navbar-default .navbar-nav > li > a {
  color: #f1f1f1;
  line-height: 100px;
  height: 100px;
  padding-top: 0;
  font-size: 25px;
  font-weight: 800;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #faec3a;
  background-color: #5c4cff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #faec3a;
  background-color: #5c4cff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #faec3a;
  background-color: #5c4cff;
}
.navbar-default .navbar-toggle {
  border-color: #5c4cff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #5c4cff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f1f1f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f1f1f1;
}
.navbar-default .navbar-link {
  color: #f1f1f1;
}
.navbar-default .navbar-link:hover {
  color: #faec3a;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f1f1f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #faec3a;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #faec3a;
    background-color: #5c4cff;
  }
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

/*  JUMBOTRON
-------------------------------------------------- */

.jumbotron {
  background: url("/img/pbvr02.png") no-repeat center center;
  background-size: cover;
  height: 500px;
}

.jumbotron > h1, 
.jumbotron > h2, 
.jumbotron > h3, 
.jumbotron > h4, {
  color: #1d1d1b;
}

.jumbotron .container 
{
  padding: 15px;
}

.jumbotron-title 
{
  background-color: #1d1d1b;
  color: #f1f1f1;
  display: inline-block;
  padding-top: 0px;
  padding-left: 25px;
  padding-right: 25px;
}

.jumbotron-subtitle 
{
  background-color: #1d1d1b;
  color: #f1f1f1;
  display: inline-block; 
  padding-top: 0px;
  padding-left: 25px;
  padding-right: 25px;
}

.jumbotron-subtitle h3
{
  margin: 0px;
}

.jumbotron-title h1{
  margin: 0px;
}

/*  BUTTONS
-------------------------------------------------- */

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #faec3a;
    color: #5c4cff;
    font: "ratio", sans-serif;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #5c4cff;
    box-shadow: none;
    color: #faec3a;
}
 
.btn-primary:active, .btn-primary.active {
    background: #5c4cff;
    box-shadow: none;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
  font-weight: normal;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 10px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0px;
  color: #1d1d1b;
}

/* BLOG CSS
-------------------------------------------------- */

.blogindex li {
  list-style-type: none;
}

.blog-post {
  margin-bottom: 60px;
  padding-top: 60px;
}

.blog-post img{
  text-align: center;
}

.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-title h2 {
  font-weight: 900;
}

.blogindex:hover .blog-post-title a:hover {
  background: #5c4cff;
  color: #faec3a;
  text-decoration: none;
}

.blog-post-meta {
  margin-bottom: 10px;
  color: #999;
  padding-bottom: 20px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

.site-footer {
  padding-top: 25px;
  padding-bottom: 10px;
  background: #f9b219;
}

.site-footer p {
  color: #f1f1f1;
}

/* BLOG CSS
-------------------------------------------------- */

.blogindex li {
  list-style-type: none;
}

.blog-post {
  margin-bottom: 60px;
  padding-top: 60px;
}

.blog-post img{
  text-align: center;
}

.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-title h2 {
  font-weight: 900;
}

.blogindex:hover .blog-post-title a:hover {
  background: #5c4cff;
  color: #faec3a;
  text-decoration: none;
}

.blog-post-meta {
  margin-bottom: 10px;
  color: #999;
  padding-bottom: 20px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

.site-footer {
  padding-top: 50px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }  

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

