---
---

@import "{{ site.theme }}";
.main-content h3 { color: #1D1111; }

body { 
    padding: 0; 
    margin: 0; 
    font-family: "Assistant", Helvetica, Arial, sans-serif; 
    font-size: 16px; 
    line-height: 1.5; 
    color: #606c71; 
}

.page-header { 
    color: #fff; 
    text-align: center; 
    background-color: #159957; 
    background-image: linear-gradient(-90deg, #0C0808, #281615); 
}
// @media screen and (min-width: 64em) { .page-header { padding: 5rem 6rem; } }
// @media screen and (min-width: 42em) and (max-width: 64em) { .page-header { padding: 3rem 4rem; } }
// @media screen and (max-width: 42em) { .page-header { padding: 2rem 1rem; } }

.page-header .fa {
    padding: 12px 60px;
    color: white;
    font-size: 30px;
}

.main-content .video-container {
    position: relative;
    padding-bottom: 55%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.main-content .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.main-content .widget-container {
    position: relative;
    text-align: center;
}

.main-content .widget-container iframe {
    top: 0;
    left: 0;
}

.main-content .french {
    color: slategray;
}
