 <header class="site-header"> 
        <div class="navbar-wrapper">
            <div class="container-fullwidth">

                <nav class="navbar-default navbar-inverse navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="/index.html">About</a></li>
                            <li><a href="/blog.html">Devblog</a></li>
                            <li><a href="/contact.html">Contact</a></li>  
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/presskit/build/index.html">Presskit</a></li>  
                            <li><a href="https://www.facebook.com/PrisonBossVR/" class="fa fa-facebook"></a></li>
                            <li><a href="https://twitter.com/PrisonBossVR" class="fa fa-twitter"></a></li>
                            <li><a href="https://www.linkedin.com/company/trebuchet-inc" class="fa fa-linkedin"></a></li>             
                        </ul>

                        <div class="container-fluid">
                            <div class="navbar-header">
                            <a class="navbar-brand" href="/index.html">
                                <img alt="Trebuchet" src="/img/trebuchet_logo_notext_brand.png">
                            </a>
                            </div>
                        </div>                       
                    </div>                
                </div>
                </nav>
            </div>
        </div>
    </header>
